#comercios{
  display: flex;
}
.TotuloC{
  font-family: 'Rubik';
  font-weight: bold;
  color: #9456B3;
}
.loja{
  display: flex;
  margin-left: 25px;
  width: 150px;
  height: 150px; 
}

#Loja{
  display: block;
  margin-left: 20px;
  background-color: #F1A887;
  width: 250px;
  padding: 15px;
}
