#comercios{
  display: flex;
  margin-top: 55px;
  
}
.TituloC{
  margin-top: 50px;
  font-family: 'Rubik';
  color: #9456B3;
  font-size: 40px;
}
.loja{
  display: flex;
  margin-left: 25px;
  width: 150px;
  height: 150px; 
}

#Loja{
  display: block;
  margin-left: 20px;
  background-color: #F1A887;
  width: 350px;
  height: 450px; 
  padding: 15px;
}
ul{
  list-style-type: none;
}

.botoes-lista{
  font-family: "Rubik";
  color: white;
  background-color: #9e69b8;
  margin-left: 35px;
}



#editar{
  display: block;
  margin-left: 65px;
  
}

span{
  display: flex;
  font-family: "Rubik";
}

.span1{
 display: inline-flex;
  margin-left: 15px;
  font-family: "Rubik";
}

.ediProd{
font-family: "rubik";
}

input{
  font-family: "Rubik";

}

.boton1{
  background-color: #9456B3;
  font-family: "Rubik";
}

.boton2{
 background-color: #f8720b;
}