.titulo1 {
  font-family: "Rubik";
  font-size: 40px;
  color: #9456b3;
}

.circuloAro{
  margin: 0;
  margin-top: 1rem;
}
.links{
  display: inline-flex;
  margin-right: 0;
}

.Circulo1 {
  width: 50px;
  height: 50px;
  position: relative;
  left: 50px;
  margin-top: 7px;
}

.Circulo1:hover {
  transition: 2s;
  transform: rotateY(360deg);
}

.Aro1 {
  width: 50px;
  height: 50px;
  margin-top: 7px;
}

.BtnC {
  position: relative;
  left: 50%;
  color: #9456b3;
}
.nav {
  background-color: #9456b3;
}

.nav a {
  text-decoration: none;
  padding: 1rem;
  margin: .5rem;
  margin-top: 1rem;
  color: #f8720b;
  font-weight: bold;
  font-size: 1.6rem;
  -webkit-text-stroke: .2px #fff;
  letter-spacing: .5px;
}

.nav a:hover {
  color: white;
}
