*{
  margin: auto;
  font-family:'Times New Roman', Times, serif;

}

.fondo{
  background-image: url("../img/ciudad.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: 80%;
  height: 500px;

}
.titulo{
  font-size: 60px;
  color:#9456B3;
  top: 35px;
  text-align: start;

  
}
.Circulo{
position: relative;
right: -200px;
}

.Circulo:hover {
  transition: 2s;
  transform: rotateY(360deg);
}

.Aro{
  position: relative;
  left: -150px;
  
}

.ciudad{
  width: 100%;
  position: relative;
  left: 0px;
}

.Menu a{
  text-decoration: none;
}
.Btn{
  display: flex;
  font-family: "orbitron";
  font-weight: bold;
  font-size: 1.8rem;
  height: 75px;
  color: #f8720b;
  background-color: #ffff;
  border:2px solid #9678d2;
  text-align: center;
  padding: 12px;
  border-radius: 8px;
  margin: 1rem;
  padding: 1rem;
}

.Btn:hover{
  background-color:#9456B3;
  color: #fff;
}

#BtnNeg,
#BtnC{
  display: inline;
  left: 60%;
  bottom: 90px;
}

#BtnC{
  width: 5rem;
  margin-left: 20rem;
}

